@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	overflow: none;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #4b4959;
	font-family: Trebuchet MS, Helvetica;

}

header {
	width: 100%;
	padding: 0px 0.5% 0px 0.5%;
	background:#000;
	float: left;
	position: fixed;
}

header #logo {
	color: #fff;
	cursor: pointer;
}

header #logo span {
	font-size: 1.7em;
	line-height: 45px;
	margin-left: 40px;
	font-family: Do Hyeon, serif;
}

@media (min-width: 701px) {
	#logo {
	float: left;
	width: 30%;
	font-size: 1.1em;
	}	
}

@media (max-width: 700px) {
	#logo {
		margin-top: 15px;
		width: 100%;
		font-size: 1.5em;
	}
}

.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li a{
 display: block;
 padding: 15px 30px 15px 30px;
 font-size: 14px;
 color: #454547;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

#overview {
float: left;
background-color: #7b6982;
background-size: cover;
background-attachment: fixed;

padding: 100px 0;
width: 100%;
text-align: center;
color: #fff;
}

#overview .img {
	float: left;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	font-size: 30px
}

.pix {
width: 350px;
height: 450px;
border: 3px solid #502a31;
}

footer {
	width: 100%;
	height: 100px;
	background:#000;
	float: left;
	text-align: center;
	font-size: 1.5em;
}

.c {
	font-size: 1em;
	text-decoration: none;
	color: #fff;

}

.d {
	color: #fff;
}

header #num {
	color: #fff;
	cursor: pointer;
}

header #num span {
	font-size: 1.5em;
	line-height: 45px;
	margin-left: 40px;
	font-family: Do Hyeon, serif;
}

@media (min-width: 701px) {
	#num {
	float: right;
	width: 30%;
	font-size: 1em;
	}
}

@media (max-width: 700px) {
	#num {
		margin-top: 15px;
		width: 100%;
		font-size: 1em;
	}
}